@import './../../../styles/variables.scss';
@import './../../../styles/mixins.scss';
@import './../../../styles/buttons.scss';

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;

  >div {
    height: 53px;
    border: solid 3px #29ABE2;
  }
  .separator2 {
    display: none;
  }
}

.single-contact-overlay {
  display: flex;
  flex-direction: column;
  padding: 40px 0;

  .name-and-img {
    display: flex;
    align-items: center;
    gap: 40px;

    .img {
      min-width: 120px;
      min-height: 120px;
      border-radius: 50%;
      background-color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      border: 3px solid $white;
      color: $white;
      -webkit-box-shadow: 0px 0px 4px 4px #00000010;
      box-shadow: 0px 0px 4px 4px #00000010;
    }

    h3 {
      font-size: 47px;
      font-weight: 500;
    }

    .bttns {
      display: flex;

      button {
        background-color: transparent;
        border: none;
        font-size: 16px;
        font-weight: 400;
        margin-right: 24px;
        display: flex;
        align-items: center;
        gap: 8px;

        &:hover {
          font-weight: 700;
          color: $hover-color;

          img {
            filter: invert(55%) sepia(85%) saturate(714%) hue-rotate(165deg) brightness(92%) contrast(91%);
          }
        }
      }
    }
app-contact-overlay {
  z-index: 9999;
}
  }

  .back-btn {
    position: sticky;
    left: 100%;
    top: 0;
    z-index: 100;
    width: 37px;
    height: 37px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  .single-contact-info {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 16px;

    >p {
      font-size: 20px;
      font-weight: 400;
    }

    .single-contact-email {
      color: $blue-link;
    }
  }

}

@media (max-width: 1440px) {
  .single-contact-overlay {
    padding: 24px;
  }
}

@media (max-width: 1280px) {
  .title {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    >div {
      height: 3px;
      width: 53px;
    }
    .separator {
      display: none;
    }
    .separator2 {
      display: block;
    }
  }

  .single-contact-overlay {
    .name-and-img {
      .bttns {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .single-contact-overlay {
    display: flex;
    flex-direction: column;
    padding: 40px 0;

    .name-and-img {
      display: flex;
      align-items: center;
      gap: 40px;

      .img {
        width: 80px;
        height: 80px;
       
      }
    }
  }

  .bttns {
    width: 70%;
    h3 {
      font-size: 18px;
    }
  }
}

@media (max-width: 480px) {
  .single-contact-overlay {
    padding: 40px 0;

    .name-and-img {
      align-items: none;
      gap: 16px;
      h3 {
        font-size: 24px;
      }
      .img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        
      }
    }
  }

  .back-btn {
    top: 100px;
    width: 24px;
    height: 24px;
  }
}
