<div class="title">
    <h2>Contacts</h2>
    <div class="separator"></div>
    <p class="subtitle">Better with a team</p>
    <div class="separator2"></div>
</div>
<div class="single-contact-overlay" [ngStyle]="{display: contactService.overlayDisplay}">
    <div class="name-and-img">
        <div class="img" [ngStyle]="{background: contactService.colours[contactService.currentIdex]}">{{contactService.currentContact['name'].charAt(0)}} {{contactService.currentContact['name'].split(' ')[1]?.charAt(0) || ''}}</div>
        <div class="name-and-bttns">
            <h3>{{contactService.currentContact.name.split(' ').slice(0, 2).join(' ')}}</h3>
            <div class="bttns">
                <button (click)="editContact()"><img src="assets/img/4-contacts/edit-icon.svg" alt="Edit Icon">Edit</button>
                <button (click)="deleteContact()"><img src="assets/img/4-contacts/delete-icon.svg" alt="Delete Icon">Delete</button>
            </div>
        </div>
    </div>
    <div class="single-contact-info">
      <p>Contact Informationen</p>
      <b>Email</b>
      <a class="single-contact-email" href="mailto:{{contactService.currentContact.email}}">{{contactService.currentContact.email}}</a>
      <b>Phone</b>
      <a href="tel:{{contactService.currentContact.phone}}">{{contactService.currentContact.phone}}</a>
    </div>
</div>
