@import './variables.scss';

@mixin displayFlex($flex-direction: row, $justify-content: center, $align-items: center, $gap: 0, $flex-wrap: wrap) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
  flex-wrap: $flex-wrap;
}

@mixin fontStyle($font-size: clamp(16px, 18px, 20px), $font-weigt: 400, $color: $primary-color) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $font-color;
}
