section{
    width: clamp(200px, 52vw, 400px);
}

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-img{
    background-color: aqua;
    width: 42px;
    height: 42px;
    border-radius: 100%;
}
p{
    text-align: start;
    
}

.name-email{
    width: 70%;
}

.contact-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.latter-container{
    border-top: solid 1px black;
}