<button (click)="toggleOverlayFromList()">Add new contact</button>
<section>
    @for (latter of (contactService.contactListLater); track latter; let index = $index) {
        @if(latter){
            <div>
                <p>{{latter}}</p>
                <div class="latter-container">
                    @for (item of (contactService.contactList); track item; let index = $index) {
                        @if(item['name'].startsWith(latter)){
                            <div class="contact" (click)="contactService.selectItem(item.id)"  [ngClass]="{ 'selected': contactService.selectedIndex === item.id}">
                                <div class="contact-img">{{latter}} {{item['name'].split(' ')[1]?.charAt(0) || ''}}</div>
                                <ul class="name-email">
                                    <p>{{ item['name'] }}</p>
                                    <a>{{ item['email'] }}</a>
                                </ul>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }
</section>
<app-contact-overlay #contactOverlay></app-contact-overlay>