<section>
  <div class="contact-list-wrapper">
  <div>
    <button (click)="setOverlayButtonsFromList('Cancel', 'Create Contact')">Add new contact<img src="assets/img/4-contacts/person-add-icon.svg" alt="Edit Icon"></button>
  </div>
  <div class="list-content">
    @for (latter of (contactService.contactListLater); track latter; let index = $index) {
        @if(latter){
            <div>
                <p>{{latter}}</p>
                <div class="latter-container">
                    @for (item of (contactService.contactList); track item; let index = $index) {
                        @if(item['name'].startsWith(latter)){
                            <div class="contact" (click)="contactService.selectItem(item.id); toggleSingleContact()"  [ngClass]="{ 'selected': contactService.selectedIndex === item.id}">
                                <div class="contact-img" [ngStyle]="{background: contactService.colours[index]}">{{contactService.getFirstAndLastNameFirstLatter(item['name'])}}</div>
                                <ul class="name-email">
                                    <p>{{ contactService.getFirstAndLastName(item['name'])}}</p>
                                    <a>{{ item['email'] }}</a>
                                </ul>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }
  </div>
</div>
</section>
