<section>
    <button>Add new contact</button>
    @for (latter of (contactService.contactListLater); track latter; let index = $index) {
        @if(latter){
            <div>
                <p>{{latter}}</p>
                <div class="latter-container">
                    @for (item of (contactService.contactList); track item) {
                        @if(item['name'].startsWith(latter)){
                            <div class="contact">
                                <div class="contact-img">{{latter}} {{item['name'].split(' ')[1]?.charAt(0) || ''}}</div>
                                <div class="name-email">
                                    <p (click)="addContact()">{{ item['name'] }}</p>
                                    <p>{{ item['email'] }}</p>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }
    }
</section>