<button class="back-btn" (click)="backToContactList()" [ngStyle]="{display: backBtnDisplay}">
  <img src="assets/img/header/help-vector.svg" alt="Back arrow" />
</button>

<section>
    <app-contact-list (singleContactTransform)="getEvent($event)"></app-contact-list>
    <app-single-contact #singleContact [ngStyle]="{transform: singleContactTransform}"></app-single-contact>
</section>

<div>
  <button (click)="addOrOpenMenu()" class="mobile-add-edit-btn"><img [src]="menuImageSrc" alt="Add Person Icon"></button>
  <div class="edit-delete-menu-toggle" [ngStyle]="{display: menuDisplay}">
    <button (click)="addOrOpenMenu(); openAddOverlay()"><img src="assets/img/4-contacts/person-add-black-icon.svg" alt="Edit Icon">Add Contact</button>
    <button (click)="addOrOpenMenu(); openEditOverlay()"><img src="assets/img/4-contacts/edit-icon.svg" alt="Edit Icon">Edit</button>
    <button (click)="addOrOpenMenu(); deleteContact()"><img src="assets/img/4-contacts/delete-icon.svg" alt="Delete Icon">Delete</button>
  </div>
</div>

