
<section>
    <app-contact-list></app-contact-list>
    <app-single-contact></app-single-contact>
</section>


<!-- hier mobile funktion einbauen -->
<div>
  <button class="mobile-add-edit-btn"><img src="assets/img/4-contacts/person-add-icon.svg" alt="Add Person Icon"></button>
  <!-- hier ist der button mit den drei vertikalen dots img die du verwenden kannst wie du willst -->
  <!-- <button class="mobile-add-edit-btn"><img src="assets/img/4-contacts/more-vert-icon.svg" alt="Add Person Icon"></button> -->
  <div class="edit-delete-menu-toggle">
    <button><img src="assets/img/4-contacts/edit-icon.svg" alt="Edit Icon">Edit</button>
    <button><img src="assets/img/4-contacts/delete-icon.svg" alt="Delete Icon">Delete</button>
  </div>
</div>
