section{
    position: fixed;
    top: 96px;
    left: 232px;
    width: calc(100% - 232px);
    display: flex;
   
}
app-contact-list{
    width:calc((100% - 232px) + 32.5%);
    margin: 0 3px;
    background-color: white;
}

app-single-contact{
    width: calc((100% - 232px) + 67.5%);
    background-color: white;
}