<section class="sidebar">
   <div class="sb-container">
    <div class="sidebar-header">
      <a href="">
        <img src="../../../../assets/icon/Capa 2.png" alt="Join Logo" class="logo">
      </a>
      </div>

      <nav class="sidebar-nav">

        <a routerLink="/summary" routerLinkActive="active">
          <img src="../../../../assets/icon/summary-icon.png" alt="Summary Icon">
          <span>Summary</span>
        </a>

        <a routerLink="/add-task" routerLinkActive="active">
          <img src="../../../../assets/icon/add-tast-icon.png" alt="Add Task Icon">
          <span>Add Task</span>
        </a>

        <a routerLink="/board" routerLinkActive="active">
          <img src="../../../../assets/icon/board-icon.png" alt="Board Icon">
          <span>Board</span>
        </a>

        <a routerLink="/contacts" routerLinkActive="active">
          <img src="../../../../assets/icon/contacts-icon.png" alt="Contacts Icon">
          <span>Contacts</span>
        </a>

      </nav>
   </div>

    <app-footer></app-footer>

</section>
