@import './../../../styles/variables.scss';

.sidebar {
  width: 232px;
  height: 100vh;
  background-color: #2a3647;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .sb-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 120px;
    .sidebar-header {
      display: flex;
      justify-content: center;
      padding-top: 64px;
      .logo {
        width: 100px;
        height: 121px;
      }
    }
  }

  .sidebar-nav a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 46px;
    padding-inline: 56px;
    margin-bottom: 15px;
    gap: 8px;
    color: #CDCDCD;
    text-decoration: none;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.3s;

    &.active {
      background-color: #091931 !important;
      pointer-events: none; 
    }
  
    &:not(.active):hover {
      background-color: #2a3d59;
      cursor: pointer;
    }
  
    img {
      width: 30px;
      height: 30px;
    }
  }
  
}

.mobile-navbar-wrapper {
  display: none;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .mobile-navbar-wrapper {
    display: block;
    position: fixed;
    z-index: 2000;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primary-color;
    text-align: center;
    .mobile-navbar {
      display: flex;
      justify-content: space-around;
      gap: 16px;
      width: 100%;
      padding: 0 8px;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: 10px 0;
        width: auto;
        flex: 1;
        img {
          width: 32px;
          height: 32px;
        }
        span {
          color: $grey;
          font-size: 12px;
        }
        &:hover {
          background-color: $primary-hover-color;
          border-radius: 10px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .mobile-navbar-wrapper {
    .mobile-navbar {
    justify-content: space-between;
    gap: 0;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      padding: 12px;
      width: auto;
      flex: 1;
      img {
        width: 32px;
        height: 32px;
      }
      span {
        color: $grey;
        font-size: 10px;
      }
      &:hover {
        background-color: $primary-hover-color;
        border-radius: 10px;
        color: $white;
        img {
          filter: invert(100%) sepia(0%) saturate(857%) hue-rotate(302deg) brightness(115%) contrast(100%);
        }
      }
    }
  }
}
}
