<header class="header">
  <div class="header-content">
    <img
      class="mobile-logo"
      src="./../../../../assets/img/header/join-logo-mobile.svg"
      alt="JOIN Logo"
    />
    <h1 class="header-title">Kanban Project Management Tool</h1>
  </div>

  <div class="profile-section">
    <img
      class="help-icon"
      src="./../../../../assets/img/header/help.svg"
      alt="Help Icon"
      (click)="navigateToHelp($event)"
    />

    <div class="profile" (click)="toggleMenu($event)">G</div>

    <div class="dropdown-menu" [class.active]="showMenu">
      <a
        class="menu-item"
        (click)="handleMenuItemClick('legal-notice'); $event.stopPropagation()"
      >
        Help
      </a>
      <a
        class="menu-item"
        (click)="handleMenuItemClick('legal-notice'); $event.stopPropagation()"
      >
        Legal Notice
      </a>
      <a
        class="menu-item"
        (click)="
          handleMenuItemClick('privacy-policy'); $event.stopPropagation()
        "
      >
        Privacy Policy
      </a>
      <a
        class="menu-item"
        (click)="handleMenuItemClick('logout'); $event.stopPropagation()"
      >
        Log out
      </a>
    </div>
  </div>
</header>
