<div class="content-wrapper">
  <div class="logo-div">
    <img src="../../../../assets/addContactOverlay/joinLogo.svg" alt="" />
    <h1>Add contact</h1>
    <span>Tasks are better with a team!</span>
    <div class="line-div"></div>
  </div>

  <div class="form-div">
    <div class="profile-image">
      <img
        src="../../../../assets/addContactOverlay/profile-image-empty.svg"
        alt=""
      />
    </div>
    <a href="#"
      ><img src="../../../../assets/addContactOverlay/X.svg" alt=""
    /></a>
    <div class="form-wrapper">
      <label for="name-input"></label>
      <input
        class="input-field"
        type="text"
        id="name-input"
        placeholder="Name"
      />

      <label for="email-input"></label>
      <input
        class="input-field"
        type="text"
        id="email-input"
        placeholder="Email"
      />

      <label for="phone-input"></label>
      <input
        class="input-field"
        type="text"
        id="phone-input"
        placeholder="Phone"
      />
        <div class="button-div">
            <button class="cancel-button">
                Cancel <img src="../../../../assets/addContactOverlay/X.svg" alt="" />
              </button>
              <button class="create-button">Create Contact</button>
        </div>
      
    </div>
  </div>
</div>
