<div class="overlay" [ngClass]="{ open: overlayService.isOpen, closed: !overlayService.isOpen }"  (click)="handleBackdropClick($event)">
  <div class="content-wrapper" #overlayRef >
    <a href="#"
      ><img
        src="assets/img/addContactOverlay/X.svg"
        alt="x-icon close button"
        (click)="clearForm(); this.overlayService.closeOverlay()" 
    /></a>

    <div class="logo-div">
      <img src="assets/img/addContactOverlay/joinLogo.svg" alt="" />
      <h2>Add contact</h2>
      <span class="subtitle">Tasks are better with a team!</span>
      <div class="line-div"></div>
    </div>
    <div class="profile-image">
      @if(overlayService.buttonLeft == 'Delete'){
        <div class="img" [ngStyle]="{background: contactService.colours[contactService.currentIdex]}">
          {{contactService.currentContact['name'].charAt(0)}} {{contactService.currentContact['name'].split(' ')[1] ? contactService.currentContact['name'].split(' ')[1].charAt(0) : ''}}
        </div>
      }@else {
        <img
          src="assets/img/addContactOverlay/profile-image-empty.svg"
          alt=""
        />
      }
    </div>
    <div class="form-div">
      <div class="form-wrapper">
        <div class="input-div">
          <img
            src="assets/img/addContactOverlay/person.svg"
            alt="search"
          />
          <input
            class="input-field"
            type="text"
            id="name-input"
            name="name"
            required
            [(ngModel)]="contactData.name"
            minlength="3"
            (blur)="validateForm('name')"
            [class.invalid]="invalidFields.includes('name')"
            placeholder ="Name"    
          />
          <span [ngClass]="{visible: invalidFields.includes('name'), invisible: !invalidFields.includes('name')}">Please enter a name (at least 2 characters)</span>
        </div>
        <div class="input-div">
          <img
            src="assets/img/addContactOverlay/mail.svg"
            alt="search"
          />
          <input
            class="input-field"
            type="text"
            id="email-input"
            name="email"
            required
            [(ngModel)]="contactData.email"
            minlength="3"
            (blur)="validateForm('email')"
            [class.invalid]="invalidFields.includes('email')"
            placeholder="Email"
          />
          <span [ngClass]="{visible: invalidFields.includes('email'), invisible: !invalidFields.includes('email')}">Your email seems invalid</span>
        </div>
        <div class="input-div">
          <img
            src="assets/img/addContactOverlay/phone.svg"
            alt="search"
          />
          <input
            class="input-field"
            type="text"
            id="phone-input"
            name="phone"
            required
            minlength="9"
            [(ngModel)]="contactData.phone"
            (blur)="validateForm('phone')"
            [class.invalid]="invalidFields.includes('phone')"
            placeholder=" Phone"
            
          />
          <span [ngClass]="{visible: invalidFields.includes('phone'), invisible: !invalidFields.includes('phone')}">Your phone number looks wrong</span>
        </div>
        <div class="button-div">
          <button class="cancel-button" (click)="cancelOrDelete()">
            {{this.overlayService.buttonLeft}}
            <img src="../../../../assets/img/addContactOverlay/X.svg" alt="" />
          </button>
          <button
            class="create-button"
            [disabled]="!isFormValid()"
            (click)="addOrSave()"
          >
          {{this.overlayService.buttonRight}}
            <img
              src="assets/img/addContactOverlay/check.svg"
              alt=""
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
