@import '../../../styles/buttons.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';


.overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 100%;
    
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.274);
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    z-index: 1000;
  }
  .overlay.open {
    transform: translateX(0);
  }
  
  .overlay.closed {
    transform: translateX(100%);
  }
.content-wrapper{
    
    display:flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 50vh;
    width: 80%;    
    gap:72px;
    border-radius: 32px;
    background-color: white;
    >a{
        position:absolute;
        top: 10px;
        right:20px;
    }
    
    
    
}

.logo-div{
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    background-color: #2A3647;
    display:flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 30%;
    height: 100%;
    padding: 0 20px;
    >h2{
        @include fontStyle(clamp(24px, 4vw, 60px), 700, white)
    }
    >span{
        @include fontStyle(clamp(18px, 2.2vw, 27px), 400, white)
    }
    

    .line-div{
        background-color:#29ABE2;
        width: 90px;
        height: 3px;
    }
}

.profile-image{
    >img{
        height: clamp(40px, 7vw, 120px)
    }
}

.form-div{
    flex:1;
    display:flex;
    justify-content: start;
    position: relative;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    background-color: white;
   
    

    .form-wrapper{
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 32px;
        padding-right: 10px;
        >div{
            position: relative;
            display: inline-block;
            width: 100%;
            >input{
                
                padding-right: 36px; 
                padding-left: 12px;
                width: 100%;
                height: 36px;
                font-size: 14px;
                border-radius: 14px;
                border: 1px solid #D1D1D1;               
            }
            input.invalid::placeholder{
                color: red;
            }
            >img{
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: 16px;
                height: 16px;
                pointer-events: none; 
                
            }
        }
       
    }

}
.confirmed-div{
    @include fontStyle(clamp(18px, 1vw, 20px), 400, white);
    @include displayFlex(flex, row, center, center, 0, wrap);
    background-color: $primary-color;
    width: fit-content;
    min-height: 36px;
    border-radius: 32px;
    text-align: center;
    flex:1;
    transition: transform 350ms ease-in-out;
}