@switch (overlayService.setTemplate()) {
  @case ('add-contact') {
    <app-add-contact></app-add-contact>
  }
  @case('show-task') {
    <div class="overlay" [ngClass]="{ open: overlayService.isOpen(), closed: !overlayService.isOpen() }" (click)="handleBackdropClick($event)">
      <div class="content-wrapper-task" #overlayRef>
        <app-task></app-task>
      </div> 
    </div>
  }
  @case ('add-task') {
    <div class="overlay" [ngClass]="{ open: overlayService.isOpen(), closed: !overlayService.isOpen() }" (click)="handleBackdropClick($event)">
      <div class="content-wrapper" #overlayRef>
        <app-add-task></app-add-task>
      </div> 
    </div>
  }
  @case ('edit-task') {
    <div class="overlay" [ngClass]="{ open: overlayService.isOpen(), closed: !overlayService.isOpen() }" (click)="handleBackdropClick($event)">
      <div class="content-wrapper" #overlayRef>
        <app-add-task></app-add-task>
      </div> 
    </div>
  }
  
}
