@import './../../../styles/variables.scss';
@import './../../../styles/mixins.scss';
@import './../../../styles/buttons.scss';

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0);
  transform: translateX(100%);
  transition: all 250ms ease-in-out;
  z-index: 9999;
}
.overlay.open {
  transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.274);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
}

.overlay.closed {
  transform: translateX(200%);
}

.content-wrapper {
  display:flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height: 750px;
  width: clamp(800px, 1212px, 100%);
  gap:72px;
  border-radius: 32px;
  background-color: white;
  app-add-task {
    width: 100%;
    padding: 0;
    >a {
        padding: 8px;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        z-index: 999;
        img {
          width: 16px;
          height: 16px;
        }
    &:hover {
      background-color: darken($grey, 0.5);
    }
  }
  }
}
.content-wrapper-task{
  display:flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  height:auto;
  width: 40%;
  gap:72px;
  max-height: 90%;
  overflow: auto;
  border-radius: 32px;
  background-color: white;
app-task {
  width:100%;
  padding: 0;
  height:100%;
 
  >a {
      padding: 8px;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      z-index: 999;
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}


@media (max-width: 1280px) and (orientation: portrait) {
  .content-wrapper {
    height: calc(100vh - 24px);
    width: calc(100% - 24px);
    overflow-y: auto;
    scrollbar-width: 0;
    app-add-task {
      padding: 16px;
      margin-top: 180px;
    }
  }
}

@media (max-width: 1280px) and (orientation: landscape) {
  .content-wrapper {
    height: calc(100vh - 24px);
    width: calc(100% - 24px);
    overflow-y: auto;
    scrollbar-width: 0;
    app-add-task {
      padding: 16px;
      margin-top: 280px;
    }
  }

 
}
