
<div class="overlay" [ngClass]="{ open: overlayService.isOpen(), closed: !overlayService.isOpen() }"  (click)="handleBackdropClick($event)">
    <div class="content-wrapper" #overlayRef >
      <a
        ><img
          src="assets/img/4-contacts/X.svg"
          alt="x-icon close button"
          (click)="clearForm(); this.overlayService.closeOverlay(); $event.stopPropagation()"
      /></a>

      <div class="logo-div">
        <img src="assets/img/4-contacts/joinLogo.svg" alt="join Logo" />
        <h2>{{overlayService.ContactOverlayH2Text}}</h2>
        <span class="subtitle">Tasks are better with a team!</span>
        <div class="line-div"></div>
      </div>
      <div class="profile-image">
        @if(overlayService.buttonLeft == 'Delete'){
          <div class="img" [ngStyle]="{background: contactService.currentContact['color']}">
            {{contactService.getFirstAndLastNameFirstLetter(contactService.currentContact['name'])}}
          </div>
        }@else {
          <img
            src="assets/img/4-contacts/profile-image-empty.svg"
            alt=""
          />
        }
      </div>
      <div class="form-div">
        <div class="form-wrapper">
          <div class="input-div">
            <img
              src="assets/img/4-contacts/person.svg"
              alt="search"
            />
            <input
              class="input-field"
              type="text"
              id="name-input"
              name="name"
              required
              [(ngModel)]="contactService.contactData.name"
              minlength="3"
              (blur)="validateForm('name')"
              [class.invalid]="invalidFields.includes('name')"
              placeholder ="Name"
            />
          </div>
          <span [ngClass]="{visible: invalidFields.includes('name'), invisible: !invalidFields.includes('name')}">Please enter a name (at least 2 characters)</span>
          <div class="input-div">
            <img
              src="assets/img/4-contacts/mail.svg"
              alt="search"
            />
            <input
              class="input-field"
              type="text"
              id="email-input"
              name="email"
              required
              [(ngModel)]="contactService.contactData.email"
              minlength="3"
              (blur)="validateForm('email')"
              [class.invalid]="invalidFields.includes('email')"
              placeholder="Email"
            />
          </div>
          <span [ngClass]="{visible: invalidFields.includes('email'), invisible: !invalidFields.includes('email')}">Your email seems invalid or is already existing</span>
          <div class="input-div">
            <img
              src="assets/img/4-contacts/phone.svg"
              alt="search"
            />
            <input
              class="input-field"
              type="text"
              id="phone-input"
              name="phone"
              required
              minlength="9"
              [(ngModel)]="contactService.contactData.phone"
              (blur)="validateForm('phone')"
              [class.invalid]="invalidFields.includes('phone')"
              placeholder=" Phone"

            />
          </div>
          <span [ngClass]="{visible: invalidFields.includes('phone'), invisible: !invalidFields.includes('phone')}">Your phone number looks wrong</span>
          <div class="button-div">
            <button class="cancel-button" (click)="cancelOrDelete()">
              {{this.overlayService.buttonLeft}}
              <img src="assets/img/4-contacts/X.svg" alt="Close Icon" />
            </button>
            <button
              class="create-button"
              [disabled]="!isFormValid()"
              (click)="addOrSave()"
            >
            {{this.overlayService.buttonRight}}
              <img
                src="assets/img/4-contacts/check-icon.svg"
                alt=""
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
