<section class="main-container">
  <div class="header">
    <h1 class="title">Board</h1>

    <div class="right-section">
      <div class="search-input-wrapper" [class.active-wrapper]="isActive">
        <input type="text" placeholder="Find Task" class="search-input" [(ngModel)]="searchQuery"
          (input)="onInputChange($event, searchQuery)" />
        <span class="separator">|</span>
        <button class="search-button" (click)="toggleActive()">
          <img src="assets/img/board/search.svg" alt="Search" />
        </button>
      </div>

      <button (click)="setNewTaskStatus('ToDo'); overlayService.openOverlay('add-task')"
        class="add-task-button create-button">
        Add task
        <img src="assets/img/board/plus.svg" alt="Add Task" />
      </button>
    </div>
      <img src="assets/img/board/plus.svg" alt="Add Task" class="plus-button" (click)="setNewTaskStatus('ToDo'); overlayService.openOverlay('add-task')"/>
  </div>

  <div class="columns-container">
    <div class="columns-content">
      @for(column of taskService.boardColumns; track column.status){
        <div class="column">
          <div class="column-header">
            <div class="column-title">
              <span>{{column.title}}</span>
              @if(column.title != 'Done'){
                <button (click)="setNewTaskStatus(column.status); overlayService.openOverlay('add-task')"
                 class="add-button">
                  <img src="assets/img/board/plus.svg" alt="Add" />
                </button>
              }
            </div>
          </div>
          <div class="tasks-container" cdkDropList id={{column.dropListName}} [cdkDropListData]="column.list"
            [cdkDropListConnectedTo]="connectedDropLists" (cdkDropListDropped)="drop($event, column.status)" [cdkDropListDisabled]="isMobile">

            @if (column.list.length) {
            @for (task of column.list; track task.id) {
              @if (
                task.status == column.status &&
                (
                  task.title.toLowerCase().includes(taskService.searchInputFieldValue.toLowerCase()) ||
                  task.description.toLowerCase().includes(taskService.searchInputFieldValue.toLowerCase())
                )
              )
              {
            <div class="task-card" cdkDrag (click)="openTaskDetail(task)" [cdkDragDisabled]="isMobile">
              <div class="task-category" >
                <div [ngClass]="taskService.getCategoryClass(task.category)">{{ task.category }}</div>
                <div class="task-menu" (click)="openDropDown(task); $event.stopPropagation()" #dropDownWrapper>
                  <div class="drop-down"  [ngClass]="{visible: task.dropDownOpen, invisible:!task.dropDownOpen}" >
                    <div class="drop-down-wrapper" [id]="'dropdown' + task.id" >
                      <p><b>Move to:</b></p>
                      @if(task.status !== 'ToDo'){
                        <span (click)="setNewStatus('ToDo', task); $event.stopPropagation();">To Do</span>
                      }
                      @if(task.status !== 'In Progress'){
                        <span (click)="setNewStatus('In Progress', task); $event.stopPropagation()">In Progress</span>
                      }
                      @if(task.status !=='Await Feedback'){
                        <span (click)="setNewStatus('Await Feedback', task); $event.stopPropagation()">Await Feedback</span>
                      }
                      @if(task.status !== 'Done'){
                        <span (click)="setNewStatus('Done', task); $event.stopPropagation()">Done</span>
                      }
                    </div>
                  </div>
                  <span >
                    <img src="assets/img/4-contacts/more-vert-icon.svg"  alt="Menu Icon">
                  </span>
                </div>
              </div>
              <div class="task-title">{{ task.title }}</div>
              <div class="task-description">
                {{
                task.description
                ? (task.description.length > 50
                ? task.description.substring(0, 50) + '...'
                : task.description)
                : ''
                }}
              </div>

              @if (task.subtasks && task.subtasks.length > 0) {
              <div class="progress-container">
                <div class="progress-track">
                  <div class="progress-bar" [style.width.%]="getProgressWidth(task)"></div>
                </div>
                <span class="progress-text"> {{ getCompletedSubtasks(task) }}/{{ task.subtasks.length || 0 }}
                  Subtasks</span>
              </div>
              }

              <div class="task-footer">
                <div class="task-assigned">
                  @for (assignee of task.assignedTo?.slice(0, 3); track assignee.id) {
                  <div class="assigned-contact" [ngStyle]="{ background: assignee.color }">
                    {{ assignee.letters }}
                  </div>
                  }
                  @if(task.assignedTo!.length > 3)
                      {
                        <span>+{{task.assignedTo!.length -3}}</span>
                      }
                </div>
                <div class="task-priority">
                  @if (task.priority === 'Urgent') {
                  <img src="assets/img/2-add-task/urgent-icon.svg" alt="urgent" />
                  } @else if (task.priority === 'Medium') {
                  <img src="assets/img/2-add-task/medium-icon.svg" alt="medium" />
                  } @else if (task.priority === 'Low') {
                  <img src="assets/img/2-add-task/low-icon.svg" alt="low" />
                  }
                </div>
              </div>

              <!-- ✅ Drag-Vorschau -->
              <ng-template cdkDragPreview>
                <div class="task-card drag-preview">
                  <div class="task-category">{{ task.category }}</div>
                  <div class="task-title">{{ task.title }}</div>
                  <div class="task-description">
                    {{
                    task.description
                    ? (task.description.length > 50
                    ? task.description.substring(0, 50) + '...'
                    : task.description)
                    : ''
                    }}
                  </div>

                  @if (task.subtasks && task.subtasks.length > 0) {
                  <div class="progress-container">
                    <div class="progress-track">
                      <div class="progress-bar" [style.width.%]="getProgressWidth(task)"></div>
                    </div>
                    <span class="progress-text"> {{ getCompletedSubtasks(task) }}/{{ task.subtasks.length || 0 }}
                      Subtasks</span>
                  </div>
                  }

                  <div class="task-footer">
                    <div class="task-assigned">
                      @for (assignee of task.assignedTo?.slice(0, 3); track assignee.id)
                      {
                        
                      <div class="assigned-contact" [ngStyle]="{ background: assignee.color }">
                        {{ assignee.letters }}
                      </div>                    
                      }
                      @if(task.assignedTo!.length > 3)
                      {
                        <span>+{{task.assignedTo!.length -3}} </span>
                      }
                      
                    </div>
                    <div class="task-priority">
                      @if (task.priority === 'Urgent') {
                      <img src="assets/img/2-add-task/urgent-icon.svg" alt="urgent" />
                      } @else if (task.priority === 'Medium') {
                      <img src="assets/img/2-add-task/medium-icon.svg" alt="medium" />
                      } @else if (task.priority === 'Low') {
                      <img src="assets/img/2-add-task/low-icon.svg" alt="low" />
                      }
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
            }
            }
            } @else {
            <div class="dashed-container">
              <span>{{column.emptyText}}</span>
            </div>
            }
          </div>
        </div>
      }
    </div>
  </div>
</section>
