<main class="main-container">
  <header class="header">
    <h1 class="title">Board</h1>

    <div class="right-section">
      <div class="search-input-wrapper" [class.active-wrapper]="isActive">
        <input
          type="text"
          placeholder="Find Task"
          class="search-input"
          [(ngModel)]="searchQuery"
          (input)="onInputChange($event)"
        />
        <span class="separator">|</span>
        <button class="search-button" (click)="toggleActive()">
          <img src="assets/img/board/search.svg" alt="Search" />
        </button>
      </div>

      <button class="add-task-button create-button">
        Add task<img src="assets/img/board/plus.svg" alt="Add Task" />
      </button>
    </div>
  </header>

  <div class="columns-container">
    <div class="columns-content">
      
      <div class="column">
        <div class="column-header">
          <div class="column-title">
            <span>To Do</span>
            <button class="add-button">
              <img src="assets/img/board/plus.svg" alt="Add" />
            </button>
          </div>
        </div>
        <div class="tasks-container">
         
          <div class="dashed-container">
            <span>No tasks To do</span>
          </div>
        </div>
      </div>


      <div class="column">
        <div class="column-header">
          <div class="column-title">
            <span>In Progress</span>
            <button class="add-button">
              <img src="assets/img/board/plus.svg" alt="Add" />
            </button>
          </div>
        </div>
        <div class="tasks-container">
        </div>
      </div>

    
      <div class="column">
        <div class="column-header">
          <div class="column-title">
            <span>Await Feedback</span>
            <button class="add-button">
              <img src="assets/img/board/plus.svg" alt="Add" />
            </button>
          </div>
        </div>
        <div class="tasks-container">
        </div>
      </div>

      <div class="column">
        <div class="column-header">
          <div class="column-title">
            <span>Done</span>
          </div>
        </div>
        <div class="tasks-container">
        </div>
      </div>
    </div>
  </div>
</main>