@import './../../styles/variables.scss';
@import './../../styles/mixins.scss';

.task-card.drag-preview {
  all: unset;
  box-sizing: border-box;
  width: 252px;
  padding: 16px;
  border-radius: 24px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 3px #00000014;
  @include displayFlex(flex, column, auto, auto, 10px, nowrap);
  @include fontStyle(14px, 400, $black, none);
  font-family: inherit;
  img {
    width: 16px;
    height: 16px;
  }
  .task-title {
    @include fontStyle(16px, bold, inherit, none);
    margin-bottom: 8px;
  }
  .task-description {
    @include fontStyle(14px, 400, #7a7a7a, none);
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .task-footer {
    @include displayFlex(flex, row, space-between, center, 0, nowrap);
    .task-assigned {
      @include displayFlex(flex, row, auto, auto, 4px, wrap);
      .assigned-contact {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        @include displayFlex(flex, row, center, center, 0, nowrap);
        @include fontStyle(12px, 400, $white, none);
      }
    }
    .task-priority img {
      width: 16px;
      height: 16px;
    }
  }
  .progress-container {
    width: 220px;
    height: 16px;
    @include displayFlex(flex, row, auto, center, 10px, nowrap);
    margin: 8px 0;
    .progress-track {
      width: 128px;
      height: 8px;
      background: $grey;
      border-radius: 8px;
      overflow: hidden;
      .progress-bar {
        height: 100%;
        background: $blue-link;
        border-radius: 8px;
      }
    }
    .progress-text {
      @include fontStyle(12px, 400, $black, none);
      white-space: nowrap;
    }
  }
}
.task-card {
  width: 100%;
  height: auto;
  gap: 10px;
  border-radius: 24px;
  padding: 16px;
  background: #ffffff;
  box-shadow: 0px 0px 10px 3px #00000014;
  margin-bottom: 16px;
  @include displayFlex(flex, column, auto, flex-start, 0, nowrap);
  cursor: pointer;
  &:active {
    transform: rotate(5deg);
  }
}
.visible {
  display: block;
}
.invisible {
  display: none;
}
.task-category {
  @include displayFlex(flex, row, space-between, center, 0, nowrap);
  position: relative;
  @include fontStyle(12px, inherit, $black, none);
  margin-bottom: 8px;
  width: 100%;
  .task-menu {
    display: none;
    .drop-down {
      position: absolute;
      top: 110%;
      right: 0;
      height: auto;
      width: auto;
      padding: 12px;
      background-color: $white;
      color: $primary-color;
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
      z-index: 999;
      .drop-down-wrapper {
        @include displayFlex(flex, column, flex-start, flex-start, 0, nowrap);
        > p {
          @include fontStyle(14px, inherit, inherit, none);
        }
        > span {
          width: 100%;
          padding: 4px 8px;
          border-radius: 10px;
          &:hover {
            transition: all 250ms ease;
            background-color: $primary-color;
            color: $white;
          }
        }
      }
    }
    > span {
      background-color: $primary-color;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      > img {
        height: 16px;
        width: 16px;
      }
    }
  }
}
.drop-down-wrapper {
  @include displayFlex(flex, column, space-around, center, 0, wrap);
}
.task-title {
  @include fontStyle(16px, bold, inherit, none);
  margin-bottom: 8px;
}
.task-description {
  @include fontStyle(14px, inherit, #7a7a7a, none);
  margin-bottom: 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.task-progress {
  border-top: 1px solid #eeeeee;
  padding-top: 8px;
  margin-bottom: 8px;
  @include fontStyle(14px, inherit, #7a7a7a, none);
}
.task-footer {
  @include displayFlex(flex, row, space-between, center, 0, nowrap);
  width: 100%;
  .task-assigned {
    @include displayFlex(flex, row, auto, center, 4px, wrap);
    .assigned-contact {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      @include displayFlex(flex, row, center, center, 0, nowrap);
      @include fontStyle(12px, inherit, $white, none);
      &:not(:first-child) {
        margin-left: -12px;
      }
    }
  }
  .task-priority img {
    width: 16px;
    height: 16px;
  }
}
.progress-container {
  width: 100%;
  height: 16px;
  @include displayFlex(flex, row, auto, center, 10px, nowrap);
  margin: 8px 0;
}
.progress-track {
  width: 100%;
  height: 8px;
  background: $grey;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.progress-bar {
  height: 100%;
  background: $blue-link;
  border-radius: 8px;
  transition: width 0.3s ease;
}
.progress-text {
  @include fontStyle(12px, inherit, $black, none);
  white-space: nowrap;
}
.cdk-drag-animating {
  transform: none;
  transition: transform 0.2s ease-in-out;
}
.cdk-drag-placeholder {
  opacity: 0.3;
  border: 2px dashed #ccc;
}
.overlay {
  position: fixed;
  @include displayFlex(flex, row, center, center, 0, nowrap);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0);
  transform: translateX(100%);
  transition: all 250ms ease-in-out;
  z-index: 9999;
}
.overlay.open {
  transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.274);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
}
.overlay.closed {
  transform: translateX(200%);
}
.main-container {
  width: 100%;
  @include displayFlex(flex, column, flex-start, auto, 40px, nowrap);
  padding: 64px;
}
.header {
  @include displayFlex(flex, row, space-between, center, 0, nowrap);
  width: 100%;
  .right-section {
    @include displayFlex(flex, row, flex-end, center, 16px, wrap);
    width: 100%;
    .search-input-wrapper {
      position: relative;
      @include displayFlex(flex, row, auto, center, 0, nowrap);
      width: 100%;
      max-width: 250px;
      border: 1px solid $grey;
      border-radius: 10px;
      background-color: $white;
      transition: border-color 0.3s;
      &:has(input:active) {
        border: 1px solid $hover-color;
      }
      &:has(input:focus) {
        border: 1px solid $hover-color;
      }
      .search-input {
        flex-grow: 1;
        border: none;
        padding: 8px 8px 8px 8px;
        @include fontStyle(16px, inherit, inherit, none);
        background: transparent;
        width: 65%;
      }
      .separator {
        @include fontStyle(18px, inherit, $grey, none);
        margin: 0 4px;
      }
      .search-button {
        background: none;
        border: none;
        cursor: pointer;
        margin-right: 4px;
        min-width: 24px;
        min-height: 24px;
        padding: 0;
        img {
          display: block;
          min-width: 24px;
          min-height: 24px;
        }
        &:hover {
          background-color: $grey;
          border-radius: 50%;
        }
      }
    }
    .add-task-button {
      border: none;
      cursor: pointer;
      padding: 8px 16px;
      background-color: $primary-color;
      @include displayFlex(flex, row, auto, center, 0, nowrap);
      @include fontStyle(16px, inherit, $background-color, none);
      white-space: nowrap;
      img {
        width: 24px;
        height: 24px;
        margin-left: 8px;
        transition: all 0.3s ease;
        @include svg-filter-white;
      }
      &:hover {
        background-color: $hover-color;
      }
    }
  }
}
.columns-container {
  width: 100%;
  @include displayFlex(flex, column, space-between, auto, 0, nowrap);
  width: 100%;
  .columns-content {
    width: 100%;
    @include displayFlex(flex, row, auto, auto, 24px, nowrap);
    padding: 0;
    .column {
      width: 100%;
      @include displayFlex(flex, column, flex-start, auto, 24px, nowrap);
      .column-title {
        width: 100%;
        @include displayFlex(flex, row, space-between, center, 0, nowrap);
        @include fontStyle(18px, 700, $primary-color, none);
        position: relative;
        min-height: 32px;
        .add-button {
          background: none;
          border: 2px solid $primary-color;
          cursor: pointer;
          padding: 5px;
          width: 30px;
          height: 30px;
          border-radius: 10px;
          transition: background-color 0.2s ease, border-color 0.2s ease;
          &:hover {
            border-color: $hover-color;
            img {
              @include svg-filter-accent;
            }
          }
          img {
            width: 16px;
            height: 16px;
            @include svg-filter-primary;
            transition: filter 0.2s ease;
          }
        }
      }
      .tasks-container {
        background-color: $background-color;
        border-radius: 8px;
        @include displayFlex(flex, column, flex-start, auto, 8px, nowrap);
        min-height: 100vh;
        .dashed-container {
          width: calc(100% - 20px);
          height: 48px;
          @include displayFlex(flex, row, center, center, 10px, nowrap);
          border-radius: 10px;
          background: #e7e7e7;
          border: 1px dashed $footer-link-color;
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
          margin: 10px auto;
          @include fontStyle(16px, inherit, $footer-link-color, none);
        }
      }
    }
  }
}
.plus-button {
  display: none;
  background-color: $primary-color;
  padding: 8px;
  border-radius: 10px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: 250ms all ease;
  &:hover {
    background-color: $hover-color;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 1440px) {
  .columns-container {
    .columns-content {
      flex-direction: column;
      .column {
        .tasks-container {
          flex-direction: row;
          overflow-x: auto;
          gap: 16px;
          padding: 8px;
          min-height: auto;
          .task-card {
            min-width: 220px;
            max-width: 220px;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  :host {
    [cdkDrag],
    [cdkDropList] {
      cursor: default;
    }
  }

  .task-card {
    &:active {
      transform: rotate(0);
    }
  }

  .main-container {
    width: 100%;
    @include displayFlex(flex, column, flex-start, auto, 40px, nowrap);
    padding: 0;
  }

  .task-category {
    .task-menu {
      display: flex;
    }
  }
}

@media (max-width: 960px) {
  .header {
    flex-wrap: wrap;
    gap: 16px;
    > h1 {
      width: 50%;
    }
    .right-section {
      .search-input-wrapper {
        max-width: 100%;
      }
      order: 3;
      width: 100%;
      .add-task-button {
        display: none;
      }
    }
  }
  .plus-button {
    display: block;
    width: auto;
  }
}
