@import "./../../styles/variables.scss";
@import "./../../styles/mixins.scss";

$breakpoint-desktop: 1280px;
$breakpoint-tablet: 768px;

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0);
  transform: translateX(100%);
  transition: all 250ms ease-in-out;
  z-index: 9999;
}
.overlay.open {
  transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.274);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
}

.overlay.closed {
  transform: translateX(200%);
}
.main-container {
  width: 100%;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-start;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  h1 {
    font-size: clamp(2em, 5vw, 3em);
  }
  .right-section {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: flex-end;

    .search-input-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 250px;
      border: 1px solid $grey;
      border-radius: 10px;
      background: $background-color;
      transition: border-color 0.3s;

      &:hover {
        transform: scale(1.02);
        border: 2px solid $grey;
      }

      &.active-wrapper {
        border: 2px solid $hover-color;
      }

      .search-input {
        flex-grow: 1;
        border: none;
        padding: 8px 8px 8px 8px;
        font-size: 16px;
        background: transparent;
        width: 65%;

        &:focus {
          outline: none;
        }
      }

      .separator {
        color: $grey;
        font-size: 18px;
        margin: 0 4px;
      }

      .search-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 6px 10px;
        margin-right: 4px;

        img {
          width: 20px;
          height: 20px;
          display: block;
        }

        &:hover {
          background-color: $grey;
          border-radius: 90%;
          transform: scale(1.2);
        }
      }
    }

    .add-task-button {
      border: none;
      cursor: pointer;
      padding: 8px 16px;
      background-color: $primary-color;
      color: $background-color;
      display: flex;
      align-items: center;
      font-size: 16px;
      white-space: nowrap;

      img {
        width: 24px;
        height: 24px;
        margin-left: 8px;
        transition: all 0.3s ease;
        @include svg-filter-white;
      }

      &:hover {
        background-color: $hover-color;
      }
    }
  }
}

.columns-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .columns-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;

    .column {
      min-width: 300px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0;

      .column-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $primary-color;
        font-weight: 700;
        font-size: 18px;
        position: relative;

        .add-button {
          background: none;
          border: 2px solid $primary-color;
          cursor: pointer;
          padding: 5px;
          border-radius: 10px;
          transition: background-color 0.2s ease, border-color 0.2s ease;

          &:hover {
            border-color: $hover-color;
            img {
              @include svg-filter-accent;
            }
          }

          img {
            width: 16px;
            height: 16px;
            @include svg-filter-primary;
            transition: filter 0.2s ease;
          }
        }
      }

      .tasks-container {
        min-height: 100%;
        background-color: $background-color;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 8px;

        .dashed-container {
          width: calc(100% - 20px);
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          border-radius: 10px;
          background: #e7e7e7;
          border: 1px dashed $footer-link-color;
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
          margin: 10px auto;
          font-size: 16px;
          color: $footer-link-color;
        }
      }
    }
  }

  .task-card {
    width: 100%;
    min-height: auto;
    gap: 10px;
    border-radius: 24px;
    padding: 16px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 3px #00000014;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &:active {
      transform: rotate(10deg);
    }

    .task-category {
      font-size: 14px;
      color: #000000;
      margin-bottom: 8px;
    }

    .task-title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 8px;
    }

    .task-description {
      color: #7a7a7a;
      font-size: 14px;
      margin-bottom: 8px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .task-progress {
      border-top: 1px solid #eeeeee;
      padding-top: 8px;
      margin-bottom: 8px;
      font-size: 14px;
      color: #7a7a7a;
    }

    .task-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .task-assigned {
        display: flex;
        .assigned-contact {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          font-size: 12px;
          &:not(:first-child) {
            margin-left: -8px;
          }
        }
      }

      .task-priority img {
        width: 16px;
        height: 16px;
      }
    }
  }

  .progress-container {
    width: 100%;
    height: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0;
  }

  .progress-track {
    width: 100%;
    height: 8px;
    background: $blue-link;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  }

  .progress-bar {
    height: 100%;
    background: $grey;
    border-radius: 8px;
    transition: width 0.3s ease;
  }

  .progress-text {
    font-size: 12px;
    color: $black;
    white-space: nowrap;
  }

  @media (max-width: 1750px) {
    .columns-content {
      flex-direction: row;
      gap: 24px;
    }

    .column {
      min-height: 600px;
      width: 244px;
    }

    .main-container {
      padding: 0;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    .columns-content {
      flex-direction: row;
      justify-content: space-between;
      gap: 26px;
    }

    .column {
      min-height: 600px;
      width: 244px;
    }

    .main-container {
      padding: 0;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    .header {
      height: 232px;
      padding: 0 64px 0 23px;
    }

    .title {
      font-size: 32px;
    }

    .right-section {
      gap: 32px;
      flex-wrap: nowrap;
    }

    .add-task-button {
      width: 28px;
      height: 28px;
    }

    .columns-container {
      padding: 0;
    }

    .column-header {
      margin-bottom: 24px;
    }

    .column-title {
      font-size: 20px;
      justify-content: center;
      margin-right: 30px;
    }

    .add-button {
      position: absolute;
      right: 0;
    }
  }
}
