<div>

    <div class="abf">
        <h1> Join 360</h1>
        <h2>Key Metrics at a Glance</h2>
    </div>

    <div class="buttons">
        <div class="buttoncard-start">
            <button class="buttoncard">
                <img style="height:69px;" src="assets/img/summary/pencil.svg" alt="pencil icon">
                <div>
                    <h3>1</h3>
                    <p>To-do</p>
                </div>
            </button>

            <button class="buttoncard">
                <img style="height:69px" src="assets/img/summary/checked.svg" alt="pencil icon">
                <div>
                    <h3>1</h3>
                    <p>Done</p>
                </div>
            </button>
        </div>

        <button class="buttoncard-middle">
            <img style="height:69px" src="assets/img/summary/checked.svg" alt="pencil icon">
            <div>
                <h3>1</h3>
                <p>Done</p>
            </div>
        </button>

        <div class="button-bottom">
            <button class="buttoncard">
                <img style="height:69px" src="assets/img/summary/checked.svg" alt="pencil icon">
                <div>
                    <h3>how much task</h3>
                    <p>Tasks in Board</p>
                </div>
            </button>
            <button class="buttoncard">
                <img style="height:69px" src="assets/img/summary/checked.svg" alt="pencil icon">
                <div>
                    <h3>1</h3>
                    <p>Done</p>
                </div>
            </button>
            <button class="buttoncard">
                <img style="height:69px" src="assets/img/summary/checked.svg" alt="pencil icon">
                <div>
                    <h3>1</h3>
                    <p>Done</p>
                </div>
            </button>
        </div>

    </div>

    <h4> {{ greeting() }}</h4>
    <h3> {{ userName() }} </h3>
</div>
