@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/buttons.scss';

section {
  padding: 0 16px 0 0;
}

h2 {
    margin-bottom: 20px;
  }

  h3 {

    margin-bottom: 16px;
  }

  h4 {

    margin-top: 1em;
  }

  .thick {
  font-weight: bold;
}

  span {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 14px;
  }

  .join-blue, .developer-akademie-blue {
  color: #29abe2;
  font-weight: 500;
}

.span {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 14px;
}

.legal-text {
  font-size: 16px;
  line-height: 1.6;
}

.legal-text p {
  margin-bottom: 14px;
}

.spacer {
  display: block;

}

.email-link {
  color: hsl(229, 92%, 43%);
  text-decoration: underline;
}

