
@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/buttons.scss';

h2 {
    margin-bottom: 20px;
  }
  
  h3 {
  
    margin-bottom: 16px;
  }
  
  h4 {
  
    margin-top: 1em;
  }

  span {
    font-size: clamp(11px, 2.2vw, 14px);
    line-height: 1.6;
    margin-bottom: 14px;
  }
  
