<section>
  <div class="title-close-wrapper">
    <h2 [ngClass]="{ visible: overlayService.setTemplate() !=='edit-task', invisible: overlayService.setTemplate() =='edit-task' }">Add Task</h2>
    <a class="close-button" [ngClass]="{ visible: overlayService.isOpen(), invisible: !overlayService.isOpen() }">
      <img src="assets/img/addContactOverlay/X.svg" alt="x-icon close button" (click)="this.overlayService.closeOverlay(); $event.stopPropagation(); resetForm()" />
    </a>
  </div>

  <form (keydown.enter)="$event.preventDefault()" action="submit" (ngSubmit)="submitTask()">
    <div class="input-wrapper">
      <div class="task-data">
        <div class="input-div">
          <label for="title">Title<span class="req-marker">*</span></label>
          <input id="title" type="text" name="title" placeholder="Enter a title"    required #taskTitle="ngModel" minlength="2" [(ngModel)]="taskService.taskData.title" />
          @if (taskTitle.invalid && taskTitle.touched) {
          <span class="error-message">Please enter a Title</span>
          }
        </div>
        <div class="input-div">
          <label for="description">Description</label>
          <textarea name="description" placeholder="Enter a description" rows="4" id="description" [(ngModel)]="taskService.taskData.description"> </textarea>
        </div>
        <div class="input-div">
          <label for="due-date">Due Date<span class="req-marker">*</span></label>
          <input [(ngModel)]="taskService.taskData.date" type="date" name="Due Date" id="due-date"  required #taskDate="ngModel" />
          @if (taskDate.touched && taskDate.invalid) {
          <span class="error-message">Please enter a Date</span>
          }
        </div>
      </div>
      <div class="sep-line"></div>
      <div class="task-user">
        <label>Priority</label>
        <div class="priority-div">
          <button
          type="button"
            [ngClass]="{
              active: taskService.clickedButton()==='Urgent',
              inactive: taskService.clickedButton() !== 'Urgent',
            }"
            (click)="setPrority('Urgent')"
          >
            Urgent
            <img src="assets/img/2-add-task/urgent-icon.svg" alt="urgent pictogram" />
          </button>
          <button
          type="button"
            [ngClass]="{
              active: taskService.clickedButton() == 'Medium',
              inactive: taskService.clickedButton() !== 'Medium',
            }"
            (click)="setPrority('Medium')"
          >
            Medium
            <img src="assets/img/2-add-task/medium-icon.svg" alt="medium pictogram" />
          </button>
          <button
          type="button"
            [ngClass]="{
              active: taskService.clickedButton() === 'Low',
              inactive: taskService.clickedButton() !== 'Low',
            }"
            (click)="setPrority('Low')"
          >
            Low
            <img src="assets/img/2-add-task/low-icon.svg" alt="low pictogram" />
          </button>
        </div>
        <div class="input-div">
          <label for="assigned-to">Assigned to</label>
          <div class="input-with-arrow">
            <input type="text" [(ngModel)]="searchTerm" name="SearchContact" class="dropdown" (click)="toggleDropdown(); $event.stopPropagation()" id="assigned-to" placeholder="Select contacts to assign" />
            <div class="dropdown-arrow" [ngClass]="{ up: dropdownOpen, down: !dropdownOpen }"></div>
          </div>
          <div class="dropdown-menu" #overlayRef [ngClass]="{ visible: dropdownOpen, invisible: !dropdownOpen }">
            @if (this.dropdownOpen){

              @for (item of (filterContacts()); track item; let index = $index) {
            <div class="contact"  [ngClass]="{ 'selected-contact-background': item.selected || (taskService.taskData.assignedTo!.includes(item)&& overlayService.setTemplate()=='edit-task')}" (click)="toggleContactSelection(item)">
              <div class="contact-img" [ngStyle]="{ background: item['color'] }">
                {{ contactService.getFirstAndLastNameFirstLetter(item['name']) }}
              </div>

              <ul class="name-email">
                <li>
                  {{ contactService.getFirstAndLastName(item['name']) }}
                  <div class="checkbox-wrapper">
                    <input type="checkbox" [checked]="item.selected" name="checkBox" id="{{ item.id }}" (change)="contactService.setSelection(item); setAssignedTo(item)" (click)="$event.stopPropagation()" />
                    <label class="check-box" [attr.for]="item.id"></label>
                  </div>
                </li>
              </ul>
            </div>
            }}
          </div>
          <div class="selected-contact-wrapper">
            @if(overlayService.setTemplate()!== 'edit-task'){

            @for (contact of contactService.contactList; track $index) { @if (contact.selected == true) {
            <div class="selected-contact" [ngStyle]="{ background: contact['color'] }" (click)="toggleContactSelection(contact); setAssignedTo(contact); $event.stopPropagation()">
              {{ contact.letters }}
            </div>
            } }
          }@else{
            @for (contact of contactService.contactList; track $index) {
              @if(contact.selected== true){
              <div class="selected-contact" [ngStyle]="{ background: contact['color'] }" (click)="toggleContactSelection(contact); setAssignedTo(contact); $event.stopPropagation()">
                {{ contact.letters }}
              </div>

            }}
          }
          </div>
        </div>
        <div class="input-div">
          <label for="category">Category<span class="req-marker">*</span></label>
          <select name="Category" #categoryField="ngModel" id="category" required [(ngModel)]="taskService.taskData.category" [ngClass]="{ open: isSelectOpen }" (click)="toggleSelectOpen()">
            <option value="" selected>Select task category</option>
            <option value="User story">User story</option>
            <option value="Technical Task">Technical Task</option>
            <option value="Design">Design</option>
          </select>
          @if (categoryField.invalid && categoryField.touched) {
          <span class="error-message">Please select a category</span>
          }
        </div>

        <div class="current-sub-task-list-wrapper">
          <div class="input-icon-wrapper">
            <input [(ngModel)]="newSubtask.title" type="text" name="Subtasks" placeholder="Add new subtask" (keyup.enter)="addSubtask()" />
            <img src="assets/icon/+Symbol.svg" class="input-icon" alt="Plus" (click)="addSubtask()"   />
          </div>
          <div class="list-wrapper">
            @for (subtask of taskService.currentSubtasks; let i = $index; track i) {
              @if (editedIndex === i) {
            <div class="subtask-edit-input">
              <input name="editField" [(ngModel)]="editableSubtask.title" type="text" class="edit-input" />
              <span>
                <span (click)="deleteSubtask(i);$event.stopPropagation() "><img src="assets/img/4-contacts/delete-icon.svg" alt="delete pictogram" /></span>
                |
                <span (click)="saveEditedSubtask(i); $event.stopPropagation()"><img src="assets/img/4-contacts/check-icon.svg" alt="check pictogram" /></span>
              </span>
            </div>
            } @else {
            <ul class="current-sub-task-list">
              @if(subtask.title){
              <li (click)="editSubtask(i); $event.stopPropagation()">
                <a>{{ subtask.title }}</a>
                <span class="edit-delete-hover-content">
                  <span (click)="editSubtask(i); $event.stopPropagation()">
                    <img src="assets/icon/edit.svg" alt="Edit" />
                  </span>
                  |
                  <span (click)="deleteSubtask(i); $event.stopPropagation()">
                    <img src="assets/icon/trash.svg" alt="Delete" />
                  </span>
                </span>
              </li>
            }
            </ul>
            } }
          </div>
        </div>
      </div>
    </div>
    <p class="req-mobile"><span class="req-marker">*</span>This field is required</p>

    <div class="bottom-form-wrapper">
      <p class="req-desktop"><span class="req-marker">*</span>This field is required</p>
      <div class="btn-div">
        <button type="button" [ngClass]="{ flexvisible: overlayService.setTemplate()!== 'edit-task', invisible: overlayService.setTemplate() == 'edit-task' }" class="cancel-button" (click)="resetSubtasks(); overlayService.closeOverlay()">
          Clear
          <img src="assets/img/4-contacts/close-icon.svg" alt="close pictogram" />
        </button>
        <button class="create-button" type="submit" [disabled]="!isFormValid()" >
          Create Task
          <img src="assets/img/4-contacts/check-icon.svg" alt="check pictogram" />
        </button>
      </div>
    </div>
  </form>
</section>
