@import './../../styles/variables.scss';
@import './../../styles/mixins.scss';
@import './../../styles/buttons.scss';

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 80px;
  width: 100%;
  max-width: 1920px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    label {
      display: flex;
      margin-bottom: 8px;
    }
    input, textarea {
      width: 100%;
      padding: 8px;
      border-radius: 10px;
      border: 1px solid #ccc;
      outline: none;
      margin-bottom: 16px;
    }
    .input-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 40px;
      .task-data {
        flex: 2;
      }
      .sep-line {
        width: 1px;
        height: calc(100% - 16px);
        background-color: #000;
      }
      .task-user {
        flex: 2;
        .priority-btn {
          display: flex;
          justify-content: flex-start;
          gap: 8px;
          margin-bottom: 16px;
          button {
            background-color: $white;
            padding: 8px 16px;
            border: none;
            border-radius: 10px;
            font-size: 16px;
            display: flex;
            align-items: center;
            gap: 8px;
            -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.20);
            box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.20);
            transition: all 250ms ease;
            img {
              width: 16px;
              height: 16px;
            }
            &:hover {
              -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
              box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
            }
          }
        }
      }
    }
    p.req-mobile {
      display: none;
    }
  }

  .bottom-form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .btn-div {
      display: flex;
      justify-content: flex-end;
      gap: 16px;
    }
    p.req-desktop {
      color: $text-alert-color;
    }
  }
}

.req-marker {
  color: $text-alert-color;
}

@media (max-width: 1280px) {
  section {
    form {
      p.req-mobile {
        display: block;
        color: $text-alert-color;
        font-size: 14px;
      }
      .input-wrapper {
        .task-user {
          .priority-btn {
            width: 100%;
            flex-wrap: nowrap;
            button {
              width: calc(100% / 3 - 1px);
              flex: 1;
              font-size: 14px;
              padding: 8px 12px;
              img {
                width: 14px;
                height: 14px;
              }
            }
          }
        }
      }
    }
  }

  .bottom-form-wrapper {
    position: sticky;
    bottom: 0;
    background-color: $background-color;
    z-index: 9;
    p.req-desktop {
      display: none;
    }
  }

}

@media (max-width: 1280px) and (orientation: portrait) {
  section {
    gap: 32px;
    form {
      .input-wrapper {
        flex-direction: column;
        gap: 0;
        .sep-line {
          display: none;
        }
        div {
          width: 100%;
        }
      }
    }
  }

  .bottom-form-wrapper {
    flex-direction: column;
    .btn-div {
      font-size: 14px;
      gap: 8x;
    }
  }
}


.dropdown{
    height: 20px;
    background-color: white;

}

.dropdown-menu{
    border-radius: 10px;
    padding: 15px 24px;
    background-color: rgb(224, 210, 191);
    max-height: 200px;
    overflow-y: scroll;
}
.visible{
    display: block;
}

.invisible{
    display:none
}
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 15px 24px;
    &:hover {
        background: -webkit-linear-gradient(0deg, rgba(249, 249, 249, 1) 0%, rgba(240, 240, 240, 1) 100%);
        background: -moz-linear-gradient(0deg, rgba(249, 249, 249, 1) 0%, rgba(240, 240, 240, 1) 100%);
        background: linear-gradient(0deg, rgba(249, 249, 249, 1) 0%, rgba(240, 240, 240, 1) 100%);
        color: inherit;
        cursor: pointer;
    }

    >ul {
        >p {
            color: black;
            font-size: 18px;
        }
    }
}

.contact-img {
    background-color: #9327FF;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    border: 2px solid white;
    color: white;
    letter-spacing: -1px;
  }

  p {
    text-align: start;
  }

  .name-email {
    width: 70%;
  }

  .contact-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .letter-container {
    border-top: solid 1px #D1D1D1;
    padding-top: 8px;
    margin-top: 25px;
  }

  .input-icon-wrapper{
    position: relative;
    display: inline-block;
   
  }

  .input-icon-wrapper input{
    padding-right: 50px;
  }

  .icon-button{
    
    position:absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;    
    cursor:pointer;
  }