@import './../../styles/variables.scss';
@import './../../styles/mixins.scss';
@import './../../styles/buttons.scss';
@import './subtask-style.component.scss';
@import './custom-checkbox.component.scss';
@import './host-style.component.scss';

section {
  @include displayFlex(flex, column, flex-start, flex-start, 24px);
  width: 100%;
  max-width: 1920px;
  padding: 64px;
  .title-close-wrapper {
    @include displayFlex(flex, row, space-between, auto, 0);
    padding: 0;
    width: 100%;
    .close-button {
      padding: 8px;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      z-index: 999;
      img {
        width: 16px;
        height: 16px;
      }
      &:hover {
        background-color: darken($grey, 0.5);
      }
    }
  }
  form {
    input.ng-invalid.ng-touched {
      border: 1px solid $border-alert-color;
    }
    select.ng-invalid.ng-touched {
      border: 1px solid $border-alert-color;
    }
    @include displayFlex(flex, column, flex-start, auto);
    width: 100%;
    label {
      @include displayFlex(flex, row, flex-start, center);
      margin-bottom: 8px;
    }
    input,
    textarea,
    select {
      cursor: pointer;
      padding: 8px;
      border-radius: 10px;
      border: 1px solid #ccc;
      outline: none;
      margin-bottom: 16px;
      width: 100%;
      &:focus {
        border: 1px solid $hover-color;
      }
      &:hover {
        border: 1px solid $hover-color;
      }
    }
    select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url('../../../assets/img/2-add-task/arrow-drop-up-icon.svg');
      background-repeat: no-repeat;
      background-position: right 18px center;
      padding-right: 30px;
      &.open {
        background-image: url('../../../assets/img/2-add-task/arrow-drop-down-icon.svg');
      }
    }
    .input-wrapper {
      @include displayFlex(flex, row, space-between, flex-start, 40px);
      width: 100%;
      .task-data {
        flex: 2;
      }
      .sep-line {
        width: 1px;
        height: clamp(220px, 320px, 350px);
        background-color: $grey;
      }
      .task-user {
        flex: 2;
        .priority-div {
          @include displayFlex(flex, row, flex-start, auto, 8px, nowrap);
          margin-bottom: 16px;
          button {
            @include displayFlex(flex, row, auto, center, 8px, nowrap);
            @include fontStyle(16px, inherit, inherit, none);
            background-color: $white;
            padding: 8px 16px;
            border: none;
            border-radius: 10px;
            -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
            transition: all 250ms ease;
            &.inactive {
              opacity: 0.7;
            }
            &.active {
              color: $white;
              img {
                filter: brightness(0) saturate(100%) invert(95%) sepia(95%) saturate(21%) hue-rotate(357deg) brightness(104%) contrast(107%);
              }
            }
            &:nth-child(1).active {
              background-color: #ff3d00;
            }
            &:nth-child(2).active {
              background-color: #ffa800;
            }
            &:nth-child(3).active {
              background-color: #7ae229;
            }
            img {
              width: 16px;
              height: 16px;
            }
            &:hover {
              -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
              box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            }
          }
        }
      }
    }
    p.req-mobile {
      display: none;
    }
  }
  .input-div {
    @include displayFlex(flex, column, auto, auto, 0, nowrap);
    width: 100%;
    .hidden-date-input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      z-index: -1;
      margin-top: 45px;
    }
    .custom-date-input {
      position: relative;
      @include displayFlex(flex, row, auto, center);
      .calendar-icon {
        position: absolute;
        right: 12px;
        top: 15%;
        cursor: pointer;
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  .bottom-form-wrapper {
    @include displayFlex(flex, row, space-between, flex-end, 0, nowrap);
    margin-top: 24px;
    .btn-div {
      @include displayFlex(flex, row, flex-end, auto, 16px, nowrap);
    }
    p.req-desktop {
      .req-marker {
        letter-spacing: 0.2em;
        @include fontStyle(18px, inherit, inherit, none);
      }
    }
  }
}
.req-marker {
  color: $text-alert-color;
}
// "assigned to" custom dropdown input field
#assigned-to {
  margin-bottom: 0;
}
.input-with-arrow {
  position: relative;
  width: 100%;
  .dropdown {
    width: 100%;
    background-color: $white;
    &::placeholder {
      color: $black;
    }
    &:focus {
      &::placeholder {
        color: $white;
      }
    }
  }
  .dropdown-arrow {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
    &.down {
      background-image: url('../../../assets/img/2-add-task/arrow-drop-up-icon.svg');
    }
    &.up {
      background-image: url('../../../assets/img/2-add-task/arrow-drop-down-icon.svg');
    }
  }
}
.dropdown-menu {
  border-radius: 0 0 10px 10px;
  background-color: $white;
  max-height: 100px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}
.visible {
  display: block;
}
.flexvisible {
  display: inline-flex;
}
.invisible {
  display: none;
}
.contact {
  @include displayFlex(flex, row, flex-start, center, 16px, nowrap);
  border-radius: 10px;
  padding: 0 16px 0 8px;
  color: $black;
  &:hover {
    background: -webkit-linear-gradient(0deg, rgba(249, 249, 249, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -moz-linear-gradient(0deg, rgba(249, 249, 249, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: linear-gradient(0deg, rgba(249, 249, 249, 1) 0%, rgba(240, 240, 240, 1) 100%);
    cursor: pointer;
  }
  > ul {
    display: inline-block;
    > li {
      @include fontStyle(14px, inherit, inherit, none);
      @include displayFlex(flex, row, space-between, center, 0, nowrap);
    }
  }
}
.selected-contact-background {
  background: $primary-color;
  color: $white;
  > ul {
    > li {
      color: $white;
      .checkbox-wrapper {
        .check-box {
          background-color: $primary-color;
          border: 2.8px solid $white;
          &::before {
            width: 1px;
            height: 16px;
            background-color: $white;
          }
          &::after {
            width: 3px;
            background-color: $white;
          }
        }
      }
    }
  }
  &:hover {
    background: $primary-color;
    > ul {
      > li {
        color: $white;
        .checkbox-wrapper {
          .check-box {
            background-color: $primary-color;
            border: 2.8px solid $white;
            &::before,
            &::after {
              background-color: $white;
            }
          }
        }
      }
    }
  }
}
.selected-contact-wrapper {
  @include displayFlex(flex, row, flex-start, auto, 8px, nowrap);
  margin-bottom: 16px;
  margin-top: 8px;
}
.selected-contact {
  @include displayFlex(inline-flex, row, center, center, 0, nowrap);
  @include fontStyle(clamp(12px, 13px, 14px), inherit, $white, none);
  width: clamp(32px, 36px, 40px);
  height: clamp(32px, 36px, 40px);
  border-radius: 50%;
  border: 2px solid $white;
  cursor: pointer;
}
.contact-img {
  @include fontStyle(12px, inherit, $white, none);
  background-color: #9327ff;
  min-width: 32px;
  min-height: 32px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid $white;
  letter-spacing: -1px;
  @include displayFlex(flex, row, center, center, 0, nowrap);
}
p {
  text-align: start;
}
.name-email {
  width: 100%;
  @include displayFlex(flex, row, space-between, center, 0, nowrap);
}
.letter-container {
  border-top: solid 1px #d1d1d1;
  padding-top: 8px;
  margin-top: 25px;
}
.error-message {
  @include fontStyle(14px, inherit, $text-alert-color, none);
  padding: 4px;
  margin-top: -16px;
  margin-bottom: 8px;
}

@media (max-width: 1280px) {
  section {
    padding: 0;
    form {
      p.req-mobile {
        display: block;
        font-size: 14px;
        .req-marker {
          letter-spacing: 0.2em;
          font-size: 18px;
        }
      }
      .input-wrapper {
        .task-user {
          .priority-btn {
            width: 100%;
            flex-wrap: nowrap;
            button {
              width: calc(100% / 3 - 1px);
              flex: 1;
              font-size: 14px;
              padding: 8px 12px;
              img {
                width: 14px;
                height: 14px;
              }
            }
          }
        }
      }
      .bottom-form-wrapper {
        @include displayFlex(flex, column, flex-end, flex-end);
        position: sticky;
        bottom: 0;
        background-color: $background-color;
        padding: 8px 0;
        z-index: 9;
        p.req-desktop {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1280px) and (orientation: portrait) {
  section {
    gap: 32px;
    form {
      .input-wrapper {
        flex-direction: column;
        gap: 0;
        .sep-line {
          display: none;
        }
        > div {
          width: 100%;
        }
      }
    }
  }

  .bottom-form-wrapper {
    flex-direction: column;
    .btn-div {
      font-size: 14px;
      gap: 8x;
    }
  }
}

@media (max-width: 480px) {
  section {
    form {
      .input-wrapper {
        .task-user {
          .priority-div {
            flex-wrap: wrap;
            button {
              flex: 1;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
