// custom checkbox style
$checkbox-height: 18px;

.checkbox-wrapper {
  box-sizing: border-box;
  padding-top: 8px;
  input[type='checkbox'] {
    display: none;
  }

  .check-box {
    height: $checkbox-height;
    width: $checkbox-height;
    background-color: transparent;
    border: calc($checkbox-height * 0.1) solid $primary-color;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;

    &::before,
    &::after {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      height: 0;
      width: calc($checkbox-height * 0.1);
      background-color: $primary-color;
      display: inline-block;
      -moz-transform-origin: left top;
      -ms-transform-origin: left top;
      -o-transform-origin: left top;
      -webkit-transform-origin: left top;
      transform-origin: left top;
      border-radius: 15px;
      content: ' ';
      -webkit-transition: opacity ease 0.5;
      -moz-transition: opacity ease 0.5;
      transition: opacity ease 0.5;
    }

    &::before {
      top: calc($checkbox-height * 0.68);
      left: calc($checkbox-height * 0.41);
      box-shadow: 0 0 0 calc($checkbox-height * 0.05) $white;
      -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }

    &::after {
      top: calc($checkbox-height * 0.37);
      left: calc($checkbox-height * 0.05);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  input[type='checkbox']:checked + .check-box,
  .check-box.checked {
    border-color: $primary-color;

    &::after {
      height: calc($checkbox-height / 2);
      -moz-animation: dothabottomcheck-19 0.2s ease 0s forwards;
      -o-animation: dothabottomcheck-19 0.2s ease 0s forwards;
      -webkit-animation: dothabottomcheck-19 0.2s ease 0s forwards;
      animation: dothabottomcheck-19 0.2s ease 0s forwards;
    }

    &::before {
      height: calc($checkbox-height * 0.5);
      -moz-animation: dothatopcheck-19 0.4s ease 0s forwards;
      -o-animation: dothatopcheck-19 0.4s ease 0s forwards;
      -webkit-animation: dothatopcheck-19 0.4s ease 0s forwards;
      animation: dothatopcheck-19 0.4s ease 0s forwards;
    }
  }
}
