@import './../../../styles/variables.scss';
@import './../../../styles/mixins.scss';

.sidebar-footer {
  @include displayFlex(flex, column, flex-end, flex-start, 0, nowrap);
  padding-bottom: 64px;

  a {
    color: #cdcdcd;
    font-size: 14px;
    text-decoration: none;
    padding: 8px 8px 8px 56px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    transition: all 0.3s;
    &:hover {
      color: #29abe2;
    }
    &.active {
      background-color: #091931 !important;
      pointer-events: none;
    }

    &:not(.active):hover {
      background-color: #2a3d59;
      cursor: pointer;
    }
  }
}
