<section>
    <div class="title-close-wrapper">
        <h2>{{task!.category}}</h2>
        <a class="close-button" ><img src="assets/img/addContactOverlay/X.svg" alt="x-icon close button" (click)="this.overlayService.closeOverlay(); $event.stopPropagation(); " /></a>
    </div>
    <h2>{{task!.title}}</h2>
    <div class="task-details">
        <p>{{task!.description}}</p>
        <div class="due-date">
            <p>Due Date:</p>
             <p>{{task!.date}}</p>
        </div>

        <div class="priority">
          <h3>Priority:</h3>
            <p>{{task!.priority}} @if (task!.priority === 'Urgent') {
              <img
                src="assets/img/2-add-task/urgent-icon.svg"
                alt="urgent"
              />
            } @else if (task!.priority === 'Medium') {
              <img
                src="assets/img/2-add-task/medium-icon.svg"
                alt="medium"
              />
            } @else if (task!.priority === 'Low') {
              <img
                src="assets/img/2-add-task/low-icon.svg"
                alt="low"
              />
            }</p>
        </div>
        <h3>Assigned To:</h3>
        <div class="assigned-to">
                @for (item of task?.assignedTo; track item; let index = $index) {
                    <div class="contact">
                      <div class="contact-img" [ngStyle]="{ background: item['color'] }">
                        <p>{{ contactService.getFirstAndLastNameFirstLetter(item['name']) }}</p>
                      </div>
                        <p>
                          {{ contactService.getFirstAndLastName(item['name']) }}
                        </p>

                    </div>
                    }
        </div>
        <h3>Subtasks</h3>
        <div class="subtasks">
            @for (subtask of task!.subtasks; track $index) {
              <div class="single-subtask">
                <input type="checkbox" [(ngModel)]="subtask.isDone"
                (click)="updateSubtasks(task!, subtask)">
                <p>{{subtask.title}}</p>
              </div>
            }
          </div>
        </div>
           <div class="button-div">
            <button (click)="deleteTask(task!.id)"><img src="assets/img/4-contacts/delete-icon.svg" alt="Delete Icon">Delete</button><span>|</span>
            <button (click)="editTask(task!)" ><img src="assets/img/4-contacts/edit-icon.svg" alt="Edit Icon">Edit</button>
          </div>




</section>
