@import './../../styles/variables.scss';
@import './../../styles/mixins.scss';
@import './../../styles/buttons.scss';

.cdk-drag-placeholder {
  transform: rotate(10deg);

}
.cdk-drag-preview {
  transform: rotate(10deg);
  /* You can also add other styles like background color, padding, etc. */
}


section {
    @include displayFlex(flex, column, flex-start, flex-start, 24px, nowrap);
    width: 100%;
    max-width: 1920px;
    padding: 64px;
    height:100%;

    .title-close-wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0;
      width: 100%;
      >h2{
        @include fontStyle( clamp(16px, 18px, 20px), 700, $primary-color)

      }
      .close-button {
          padding: 8px;
          border-radius: 50%;
          width: 32px;
          height: 32px;
          z-index: 999;
          img {
            width: 16px;
            height: 16px;
          }
          &:hover {
            background-color: darken($grey, 0.5);
          }
      }
    }
}

h3{
  @include fontStyle(clamp(16px, 18px, 20px), 400, $primary-color, none)
}

.task-details{
  @include displayFlex(flex, column, flex-start, flex-start, 24px);



  }

.contact-img {
  @include displayFlex(flex, row, center, center, 5px);
  background-color: #9327FF;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: 2px solid $white;
  color: $white;
  letter-spacing: -1px;
}

.subtasks{
  @include displayFlex(flex, column, flex-start, flex-start, 8px);
  max-height: 200px;
  width: 100%;
  overflow: auto;
  .single-subtask{
    @include displayFlex(flex, row, center, center, 8px);
    padding: 6px 10px;
    border-radius: 10px;
    >input[type="checkbox"] {
      border-radius: 0;
      width: 16px;
      height: 16px;
    }

    input {
      appearance: none;
      -webkit-appearance: none;
      width: 24px;
      height: 24px;
      padding: 8px;
      cursor: pointer;
      background-size: contain;
      background-repeat: no-repeat;
      border: none;
      overflow: visible;
      &.checkbox-unchecked {
        background-image: url('../../../assets/img/3-board/checkbox-unchecked-icon.svg');
        width: 16px;
        height: 16px;
        padding: 8px;
      }
      &.checkbox-checked {
        background-image: url('../../../assets/img/3-board/checkbox-checked-icon.svg');
      }
    }
    >p{
      @include fontStyle(clamp(14px, 16px, 18px), 400,black, none)
    }

    &:hover {
      cursor: pointer;
      background-color: $grey;
    }
  }
}
.button-div {
  @include displayFlex(flex, row, flex-end, center, 8px);
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: $white;
  padding: 16px 0;
  >button{
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    &:hover {
      font-weight: 700;
      color: $hover-color;

      img {
        filter: invert(55%) sepia(85%) saturate(714%) hue-rotate(165deg) brightness(92%) contrast(91%);
      }
    }
  }
  >span{
    color: $grey;
  }
}

.contact{
  @include displayFlex(flex, row, center, center, 12px);
  text-align: center;
  >p{
    @include fontStyle(clamp(16px, 18px, 20px), 400,black, none);
  }
    }
.due-date{
  @include displayFlex(flex, row, flex-start, flex-start, 24px);
  :first-child{
    @include fontStyle(clamp(16px, 18px, 20px), 400, $primary-color, none)
  }
  >p{
    @include fontStyle(clamp(16px, 18px, 20px), 400, black, none)
  }
}
.priority{
  @include displayFlex(flex, row, flex-start, center, 24px);


  >p{
    @include fontStyle(clamp(16px, 20px, 22px), 400, black, none);
    gap:10px;
  }
}
.assigned-to{
  @include displayFlex(flex, column, flex-start, flex-start, 24px);

    >p{
      @include fontStyle(clamp(16px, 18px, 20px), 400,white, none);
          }

  }

  :host-context(app-overlay) {
    section {
      padding: 0 40px 0 0;
    }
  }
