<section class="login-page-wrapper">
  <section class="header">
    <a href=""><img src="assets/img/login/joinLogo.png" alt="JOIN Logo" /></a>
    <div class="signup-section">
      <p>Not a Join user?</p>
      <a routerLink="/sign-up"><button class="login-btn">Sign up</button></a>
    </div>
  </section>

  <div class="splash-screen">
    <section class="header2">
      <a href=""><img src="assets/img/login/joinLogo.png" alt="JOIN Logo" class="original-logo" /></a>
    </section>
  </div>

  <section class="login-container">
    <div class="content-wrapper">
      <h1>Log in</h1>
      <div class="divider"></div>
      <form action="" autocomplete="off">
        <div class="input-container">
          <img src="assets/img/login/mail.svg" alt="Email icon" />
          <input type="email" placeholder="Email" [(ngModel)]="emailOrUsername" name="email" (blur)="validateMail('email')" (ngModelChange)="validateMail('email')" [ngClass]="{ 'error-container': !loginSuccessfull }" />
                  <span [ngClass]="{ visible: invalidFields.includes('email') , invisible: !invalidFields.includes('email') }">Your email seems invalid </span>

        </div>
        <div class="input-container" [ngClass]="{ 'error-container': !loginSuccessfull }">
  <img
    [attr.src]="passwordVisible ? 'assets/img/login/visibility_off-icon.svg' : passwordEntered ? 'assets/img/login/visibility-icon.svg' : 'assets/img/login/lock.svg'"
    alt="Password icon"
    (click)="togglePasswordVisibility()"
  />
  <input
    [type]="passwordVisible ? 'text' : 'password'"
    placeholder="Password"
    [(ngModel)]="password"
    name="password"
    (blur)="validatePassword()"
    (input)="onPasswordInput()"
    [ngClass]="{ 'error-input': !loginSuccessfull }"
    (ngModelChange)="validatePassword()"
  />
  <span
  [ngClass]="{
    visible: invalidFields.includes('password'),
    invisible: !invalidFields.includes('password')
  }"
>
  Password must be at least 6 characters
</span>
</div>

<span
  [ngClass]="{
    visible: loginSuccessfull === false,
    invisible: loginSuccessfull !== false
  }"
>
  Your combination for Email/Password is incorrect
</span>

        <div class="buttons">
          <button class="login-btn" (click)="onLogin()" [disabled]="!isFormValid">Log in</button>
          <button class="guest-login-btn" (click)="guestLogin()">Guest Log in</button>
        </div>
      </form>
    </div>
    <section class="signup-section-footer">
      <p>Not a Join user?</p>
      <a routerLink="/sign-up"><button class="login-btn">Sign up</button></a>
    </section>
  </section>

  <section class="footer">
    <div>
      <a (click)="goToAnotherPage('/privacy')">Privacy Policy</a>
      <a (click)="goToAnotherPage('/legal-notice')">Legal notice</a>
    </div>
  </section>
</section>
