<div class="header">
  <a href=""><img src="../../../assets/img/login/joinLogo.png" alt="JOIN Logo"/></a>
  <div class="signup-section">
  <p>Not a Join user?</p>
  <button class="login-btn" (click)="login()">Sign up</button>
</div>
</div>

<section class="login-container">
  <div class="content-wrapper">
  <h1>Log in</h1>
  <div class="divider"></div>
  <form action="">
    <div class="input-container">
      <img src="assets/img/login/mail.svg" alt="Email icon">
      <input type="email" placeholder="Email" [(ngModel)]="email" name="email" />
    </div>
    <div class="input-container">
      <img src="assets/img/login/lock.svg" alt="Password icon">
      <input type="password" placeholder="Password" [(ngModel)]="password" name="password" />
    </div>
    
    <div class="buttons">
      <button class="login-btn" (click)="login()">Log in</button>
      <button class="guest-login-btn" (click)="guestLogin()">Guest Log in</button>
    </div>
  </form>
  <div class="footer">
    <a (click)="goToAnotherPage('/privacy')">Privacy Policy</a>
    <a (click)="goToAnotherPage('/legal-notice')">Legal notice</a>
  </div>
</div>
</section>
