@import './../../styles/variables.scss';
@import './../../styles/mixins.scss';
@import './../../styles/buttons.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.signup-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.signup-section p {
  margin: 0;
}

.logo-container {
  max-width: 100px;
}

.login-container {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
  .content-wrapper {
    max-width: 652px;
    margin: 100px auto;
    padding: 48px 115px;
    border-radius: 30px;
    background: $white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    position: relative; 
  }

  h1 { margin-bottom: 16px; }

  .divider {
    height: 4px;
    background: $hover-color;
    width: 40%;
    margin: 0 auto 24px;
  }

  .input-container {
    position: relative;
    margin: 10px 0;

    img {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px; height: 20px;
    }

    input {
      width: 100%;
      padding: 8px 30px 8px 8px;
      font-size: 14px;
      border-radius: 8px;
      border: 1px solid #ccc;
    }
  }

  .buttons {
    display: flex;
    gap: 35px;
    width: 322px;
    height: 48px;
    margin: 32px auto 0;

    .login-btn, .guest-login-btn {
      flex: 1;
    }
  }
}

.footer {
  width: 100%;
  max-width: 1920px;
  padding: 20px;
  height: 48px;
  position: fixed; 
  bottom: 20px;
  left: 58%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 35px; 
}

.footer a {
  color: #A8A8A8;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.2s ease;
  cursor: pointer;
}

.footer a:hover {
  color: #29ABE2;
}

.visible {
  display: inline;
  color: red;
}

.invisible {
  display: none;
}

input.invalid {
  border: 1px solid red;
}