<section class="login-container">
  <h1>Log in</h1>
  <div class="divider"></div>
  <form action="">
    <div class="input-container">
      <img src="assets/img/login/mail.svg" alt="Email icon">
      <input type="email" placeholder="Email" [(ngModel)]="emailOrUsername" name="email" />
    </div>
    <div class="input-container">
      <img src="assets/img/login/lock.svg" alt="Password icon">
      <input type="password" placeholder="Password" [(ngModel)]="password" name="password" />
    </div>
    
    <div class="buttons">
      <button class="login-btn" (click)="onLogin('nouira@gmail.com', 'soufiane')">Log in</button>
      <button class="guest-login-btn" (click)="guestLogin()">Guest Log in</button>
    </div>
  </form>
 
</section>