@import './app/styles/fonts.scss';
@import './app/styles/variables.scss';
@import './app/styles/mixins.scss';
@import './app/styles/buttons.scss';

/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
*{
    margin: 0;
}
=======

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Inter', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

h1 {
  font-size: clamp(48px, 56px, 64px);
  font-weight: 700;
}

h2 {
  font-size: clamp(48px, 56px, 64px);
  font-weight: 700;
}

h3 {
  font-size: clamp(36px, 54px, 60px);
  font-weight: 700;
}

h4 {
  font-size: clamp(32px, 48px, 56px);
  font-weight: 700;
}

h5 {
  font-size: clamp(28px, 44px, 52px);
  font-weight: 700;
}

p {
  font-size: clamp(14px, 16px, 18px);
}

body {
  background-color: $background-color;
}

a, button {
  cursor: pointer;
}
>>>>>>> f0a99a92187d683d864fd668e3d51f59941c043f
